:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(36, 94, 255);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 210, 190);
    --cg-white-med: rgb(255, 215, 195);
    --cg-white-minus: rgb(255, 230, 210);
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: var(--cg-grey);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: var(--cg-white);
  }
  
  /* CSS for navigation */
  
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: var(--cg-black);
    color: var(--cg-white-minus);
    padding: 0px 0px;

    font-size: 1em;
  
    /* Debug border */
    /* border: solid red; */
  }

  @media only screen and (max-width: 800px) {
    .navbar {
      font-size: 0.75em;
    }
    .nav-about {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .navbar {
      font-size: 0.4em;
    }
    .nav-about {
      display: none;
    }
  }
  
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0px;
    list-style: none;
  
    /* Debug border */
    /* border: solid blue; */
  }
  
  .navbar a {
    color: var(--cg-white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  
    font-family: monospace;

    float: right;
    text-align: center;
  }
  
  .navbar a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
  }
  
  .navbar a:active {
    color: var(--cg-blue);
  }
  
  .logo a {
    font-family: Georgia;
  }
  
  .logo a:hover {
    text-decoration: None;
  }
  
  main {
    padding: 0 20px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia;
  }
  
  /* CSS for portfolio grid */

  .projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1em 0 2em 0;
    flex-wrap: wrap;
  
    /* Debug border */
    /* border: 2px solid blue; */
  }
  
  .project {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 1em 1em 2em 1em;
    background-color: var(--cg-white-minus);
    border-radius: 10px;
    border: 2px solid var(--cg-grey);
    
    /* Debug border */
    /* border: 2px solid blue; */
  }

  .project:hover {
    background-color: var(--cg-white-med);
    transform: scale(1.05);
  }
  
  .item-link {
    width: 70%;
  
    /* Debug border */
    /* border: 2px solid red; */
  }
  
  .project-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* Debug border */
    /* border: 2px solid black; */
  }
  
  .project-details {
    display: flex;
    padding: 0 20px;
    margin: 0px;
    padding: 10px;
    line-height: 1.5;
  
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    /* Debug border */
    /* border: 2px solid green; */
  }
  
  .project-details a {
    color: var(--cg-black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .project-details a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
  }
  
  .project-details {
    font-weight: lighter;
  }
  
  .project-name {
    font-weight: bold;
    font-size: 20px;
  }

  @media only screen and (max-width: 600px) {
    .project-name {
      font-size: 12px;
    }
    .project {
      
      max-width: 90%;
    }
  }
  @media only screen and (max-width: 800px) {
    .project {
      max-width: 40%;
    }
  }
  
  /* CSS for home page */
  
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cg-white-minus);
    border: 2px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .about-image img {
    max-width: 300px;
    width: 70%;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }

  @media only screen and (max-width: 600px) {
    .about-image img {
      max-width: 100px;
      width: 100%;
    }
    .about-text p {
      font-size: 8px;
      line-height: 1.5;
    }
    .about-text {
      margin-left: 0px;
    }
  }
  
  .about-text {
    flex: 1;
    margin-left: 20px;
  }
  
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* CSS for resume page */
  
  .button {
    background-color: var(--cg-black);
    border: none;
    color: var(--cg-white);
  
    font-family: monospace;
  
    padding: 5px 7px;
    text-align: center;
  
    border-radius: 2px;
  }
  
  .button:hover {
    background-color: var(--cg-blue);
  }
  
  .resume h2 {
    font-family: Georgia;
  }
  
  /* CSS for contact form */
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: Georgia;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 400px) {
    form {
      width: 200px;
    }
  }
  @media only screen and (max-width: 700px) {
    form {
      width: 300px;
    }
  }
  
  /* CSS for footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cg-black);
    color: var(--cg-white-minus);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  .blogpost {
    background-color: var(--cg-white-minus);
    display: flex;
    padding: 20px;
    margin: 0px;
    line-height: 1.5;
  
    flex-direction: column;
    text-align: center;
    justify-content: center;

    border-radius: 10px;
    border: 2px solid var(--cg-grey);

    max-width: 70%;
  }

  .blogpost:hover {
    background-color: var(--cg-white-med);
    transform: scale(1.05);
  }